## Gather

In [1]:
import pandas as pd
import numpy as np

In [2]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

## Assess

In [3]:
patients.head(1)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6

In [4]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [5]:
treatments.head(1)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.2,NaN

In [6]:
treatments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    280 non-null    object
 1   surname       280 non-null    object
 2   auralin       280 non-null    object
 3   novodra       280 non-null    object
 4   hba1c_start   280 non-null    float64
 5   hba1c_end     280 non-null    float64
 6   hba1c_change  171 non-null    float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB

In [7]:
adverse_reactions.head(1)

  given_name     surname           adverse_reaction
0      berta  napolitani  injection site discomfort

In [8]:
adverse_reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   given_name        34 non-null     object
 1   surname           34 non-null     object
 2   adverse_reaction  34 non-null     object
dtypes: object(3)
memory usage: 944.0+ bytes

In [9]:
all_columns = pd.Series(list(patients) + list(treatments) + list(adverse_reactions))
all_columns[all_columns.duplicated()]

14    given_name
15       surname
21    given_name
22       surname
dtype: object

In [10]:
patients.surname.value_counts()

Doe            6
Jakobsen       3
Taylor         3
Lâm            2
Bùi            2
              ..
Šlezinger      1
Mobourne       1
Frederiksen    1
Fujiwara       1
Ibeamaka       1
Name: surname, Length: 466, dtype: int64

In [11]:
patients.address.value_counts()

123 Main Street              6
2778 North Avenue            2
2476 Fulton Street           2
648 Old Dear Lane            2
192 Patton Lane              1
                            ..
475 Preston Street           1
4894 Chandler Hollow Road    1
1373 Wilmar Farm Road        1
1717 Vineyard Drive          1
989 Wayback Lane             1
Name: address, Length: 483, dtype: int64

In [12]:
patients[patients['address'].isnull()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
209,210,female,Lalita,Eldarkhanov,NaN,NaN,NaN,NaN,NaN,NaN,8/14/1950,143.4,62,26.2
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1

In [13]:
patients[patients.address.duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962.0,United States,304-438-2648SandraCTaylor@dayrep.com,10/23/1960,206.1,64,35.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [14]:
patients.describe()

       patient_id      zip_code      weight      height         bmi
count  503.000000    491.000000  503.000000  503.000000  503.000000
mean   252.000000  49084.118126  173.434990   66.634195   27.483897
std    145.347859  30265.807442   33.916741    4.411297    5.276438
min      1.000000   1002.000000   48.800000   27.000000   17.100000
25%    126.500000  21920.500000  149.300000   63.000000   23.300000
50%    252.000000  48057.000000  175.300000   67.000000   27.200000
75%    377.500000  75679.000000  199.500000   70.000000   31.750000
max    503.000000  99701.000000  255.900000   79.000000   37.700000

In [15]:
patients.weight.sort_values()

210     48.8
459    102.1
335    102.7
74     103.2
317    106.0
       ...
144    244.9
61     244.9
283    245.5
118    254.5
485    255.9
Name: weight, Length: 503, dtype: float64

In [16]:
patients.query('weight == 48.8')

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
210,211,female,Camilla,Zaitseva,4689 Briarhill Lane,Wooster,OH,44691.0,United States,330-202-2145CamillaZaitseva@superrito.com,11/26/1938,48.8,63,19.1

In [17]:
weight_lbs = patients[patients.surname == 'Zaitseva'].weight * 2.20462
height_in = patients[patients.surname == 'Zaitseva'].height
bmi_check = 703 * weight_lbs / (height_in * height_in)
bmi_check

210    19.055827
dtype: float64

In [18]:
sum(treatments.auralin.isnull())

0

In [19]:
sum(treatments.novodra.isnull())

0

### Quality issuues
#### patients table
- zip code is a float. not a string
- zip code has four digit sometimes
- Tim Neudorf height is 27 in instead 72 in
- fill state names sometimes, abbreviations other time
- the given name for the patient_id 9 is David, not Dsvid
- missing info(address - contact) columns
- Erroneous datatype (assigned sex, state, zip_code, birthdate)
- multiple phone number formats
- there are 6 Dohn Doe data
- multiple records for Jacobson , Gersten , Taylor
- kg instead lbs for Zaitseva

#### treatments table
- missing HbA1c changes
- 'u' next to start dose and end dose in the auralin and novodra columns
- missing records: 280 records instead of 350
- patient names are all lowercases
- Erroneous datatype (auralin and novodra)
- HbA1c calculations are wrong
- Nulls represented as dashed in auralin and novadra

#### adverse reactions table
-  Lowercase names

### Tidiness
- contact column (email and phone number) in `patients` table should be separated
- variables in `treatment` table (treatment, start&end dose) needs to be fixed
- adverse reaction table should be part of `treatments` table
- given name and surname in `patient` table are duplicated in `treatments` and `adverse_reactions` tables

## Clean

In [20]:
patients_clean = patients.copy()
treatments_clean = treatments.copy()
adverse_reactions_clean = adverse_reactions.copy()

### Miising data

#### `Treatments`: Missing records (280 instead of 350)

#### Define

import the cut treatments into the dataframe and concatnate the original `treatments` dataframe.

#### Code

In [21]:
treatments_cut = pd.read_csv('treatments_cut.csv')
treatments_clean = pd.concat([treatments_clean , treatments_cut] ,
                            ignore_index = True)

#### Test

In [22]:
treatments_clean.tail(1)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
349,armina,sauvé,36u - 46u,-,7.86,7.4,NaN

`treatments`**: missing hbA1c changes and inaccurate HbA1c changes**

#### Define

Recalcurate the `hba1c_change` column: `hba1c_start` minus `hba1c_end`

#### Code

In [23]:
treatments_clean.hba1c_change = (treatments_clean.hba1c_start - 
                                treatments_clean.hba1c_end)

#### Test

In [24]:
treatments_clean.head(1)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.2,0.43

### Tidiness

**Contact column in `patients` table two variables: phone number and email**

#### Define

Extract the phone number and email variables from the contact column using regular expression and panda's `str.extract` method. Drop the contact column when done,

#### Code

In [25]:
patients_clean['phone_number'] = patients_clean.contact.str.extract('((?:\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4})', expand=True)

# [a-zA-Z] to signify emails in this dataset all start and end with letters
patients_clean['email'] = patients_clean.contact.str.extract('([a-zA-Z][a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+[a-zA-Z])', expand=True)


patients_clean = patients_clean.drop('contact', axis=1)

#### Test

In [26]:
list(patients_clean)

['patient_id',
 'assigned_sex',
 'given_name',
 'surname',
 'address',
 'city',
 'state',
 'zip_code',
 'country',
 'birthdate',
 'weight',
 'height',
 'bmi',
 'phone_number',
 'email']

In [27]:
patients_clean.phone_number.sample(5)

389         918-459-9811
343         203-251-3573
243         715-817-0134
64     +1 (315) 362-5858
275    +1 (224) 305-6805
Name: phone_number, dtype: object

In [28]:
# Confirm that no emails start with an integer (regex didn't match for this)
patients_clean.email.sort_values().head()

404               AaliyahRice@dayrep.com
11          Abdul-NurMummarIsa@rhyta.com
332                AbelEfrem@fleckens.hu
258              AbelYonatan@teleworm.us
305    AddolorataLombardi@jourrapide.com
Name: email, dtype: object

**Three variables in two columns in `treatments` table (treatment, start dose and end dose)**

#### Define

Melt eh auralin and novodra columns to a treatment and a dose column (dose will still contain both start anf end dose at this point) 
Then split the dose column on ' - ' to obtain start_dose and end_dose columns.
Drop the dose columns

#### Code

In [29]:
treatments_clean = pd.melt(treatments_clean ,id_vars= ['given_name' , 'surname' , 'hba1c_start' , 'hba1c_end' , 'hba1c_change'],
                           var_name='treatment', value_name='dose')

In [30]:
treatments_clean = treatments_clean[treatments_clean.dose != "-"]
treatments_clean['dose_start'] , treatments_clean['dose_end'] = treatments_clean['dose'].str.split(' - ' , 1).str
treatments_clean = treatments_clean.drop('dose' , axis = 1)

C:\Users\bebop\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.

#### Test

In [31]:
treatments_clean.head(1)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end
0,veronika,jindrová,7.63,7.2,0.43,auralin,41u,48u

**Adverse reaction should be `treatments` table**

#### Define

Merge the adverse_reaction columns to the `treatments` table, joining on given name and
surname

#### Code

In [32]:
treatments_clean = pd.merge(treatments_clean , adverse_reactions_clean,
                           on = ['given_name' , 'surname'] , how = 'left')

#### Test

In [33]:
treatments_clean.head(1)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end,adverse_reaction
0,veronika,jindrová,7.63,7.2,0.43,auralin,41u,48u,NaN

**Given name and surname columns in `patients` table duplicated in `treatments` and `adverse_reaction` table and Lowercase given names and surnames**

#### Define

Adverse reaction table is no longer needed so ignore that part, Isolate the patient ID and names in the `patience` table, then convert these names to lower case to join with `treatments`, Then drop the given name and surname columns in the treatment table(so these being lowercase isn't an issue anymore).

#### Code

In [34]:
id_names = patients_clean[['patient_id' , 'given_name' , 'surname']]
id_names.given_name = id_names.given_name.str.lower()
id_names.surname = id_names.surname.str.lower()
treatments_clean = pd.merge(treatments_clean , id_names, on = ['given_name' , 'surname'])
treatments_clean = treatments_clean.drop(['given_name' , 'surname'] , axis = 1)

C:\Users\bebop\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

#### Test

In [35]:
treatments_clean.head(1)

,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end,adverse_reaction,patient_id
0,7.63,7.2,0.43,auralin,41u,48u,NaN,225

In [36]:
# Patient ID should be the only duplicate column
all_columns = pd.Series(list(patients_clean) + list(treatments_clean))
all_columns[all_columns.duplicated()]

22    patient_id
dtype: object

### Quality

**Zip code is a float not a string and Zip code has four digits someimes**

**Define**

Convert the zip code column's data type from a float to a string using `astyype` , remove the '.0' using string slicing. and pad four digit zip codes with a leading 0.

#### Code

In [37]:
patients_clean.zip_code = patients_clean.zip_code.astype(str).str[:-2].str.pad(5 , fillchar = "0")
patients_clean.zip_code = patients_clean.zip_code.replace('0000n' , np.nan)

In [38]:
pd.set_option('display.max_rows', None)
patients_clean.zip_code

0      92390
1      61812
2      68467
3      07095
4      36303
5      32114
6      84728
7      95037
8      64105
9      10011
10     49780
11     37027
12     24504
13     35203
14     74105
15     37660
16     93706
17     30082
18     59324
19     95966
20     02382
21     10523
22     10570
23     33830
24     12771
25     87109
26     61602
27     70091
28     19034
29     12771
30     80112
31     37618
32     90815
33     60115
34     04474
35     10004
36     54701
37     57350
38     01581
39     02081
40     30303
41     56230
42     33409
43     82939
44     04901
45     38310
46     15201
47     30337
48     60148
49     43537
50     18701
51     52801
52     50322
53     02038
54     01803
55     89119
56     31024
57     91941
58     15205
59     27893
60     92101
61     93301
62     02178
63     92103
64     13221
65     46065
66     92103
67     01752
68     53204
69     60148
70     45701
71     06103
72     70001
73     02035
74     74106
75     94538
76     55410
77     40507
78     02048
79     19108
80     11590
81     73844
82     30346
83     45407
84     10001
85     34746
86     20031
87     56358
88     30902
89     85281
90     14214
91     77002
92     08060
93     33323
94     33106
95     79506
96     04769
97     68324
98     99701
99     11590
100    58416
101    65652
102    36104
103    32751
104    85012
105    28328
106    47362
107    21771
108    67427
109    39402
110    75247
111    91321
112    23602
113    77074
114    10016
115    95453
116    41601
117    70112
118    70528
119    77063
120    94108
121    13221
122    49503
123    33634
124    02169
125    74119
126    02210
127    98541
128    46214
129    10004
130    29420
131    25962
132    18436
133    29210
134    12207
135    44115
136    90017
137    33062
138    23220
139    45202
140    62522
141    75207
142    10001
143    98109
144    46804
145    19403
146    46312
147    90025
148    11227
149    78058
150    33838
151    95610
152    10004
153    89509
154    53711
155    62201
156    55113
157    53014
158    74136
159    28779
160    85023
161    59522
162    95814
163    29180
164    66061
165    39194
166    75601
167    01730
168    94306
169    19020
170    11227
171    60525
172    52240
173    48057
174    99218
175    62650
176    01852
177    90014
178    60631
179    50158
180    71201
181    81637
182    07304
183    92335
184    32174
185    48731
186    02908
187    60605
188    10011
189    95817
190    15044
191    60607
192    11530
193    06516
194    08525
195    70113
196    78702
197    49735
198    40507
199    35062
200    08110
201    03833
202    97204
203    63301
204    73102
205    14150
206    79014
207    48607
208    76011
209      NaN
210    44691
211    55114
212    28202
213    10013
214    05047
215    12345
216    10016
217    30601
218    37766
219      NaN
220    94612
221    97205
222    40244
223    83234
224    05301
225    20024
226    10603
227    68124
228    95826
229    12345
230      NaN
231    27839
232    92123
233    70112
234      NaN
235    41844
236    80010
237    12345
238    19139
239    39501
240    35806
241    38002
242      NaN
243    54880
244    12345
245    61101
246    92704
247    10011
248    68859
249      NaN
250    21222
251    12345
252    01730
253    32810
254    15205
255    54739
256    17881
257      NaN
258    91502
259    33610
260    94509
261    02110
262    77092
263    10036
264      NaN
265    48647
266    41858
267    67401
268    94070
269      NaN
270    62040
271    78539
272    45402
273    39362
274    43081
275    60148
276    83836
277    12345
278      NaN
279    26814
280    78258
281    35203
282    25962
283    60605
284    02081
285    73102
286      NaN
287    92111
288    95060
289    70065
290    01730
291    19934
292    60924
293    94597
294    02142
295    95814
296      NaN
297    15205
298    78476
299    83823
300    31901
301    10004
302    39401
303    48219
304    40202
305    13901
306    68418
307    39501
308    11743
309    35203
310    66219
311    39350
312    90017
313    36502
314    08876
315    78217
316    01002
317    89110
318    11530
319    58102
320    53202
321    70112
322    76632
323    45236
324    20009
325    60601
326    12303
327    07109
328    55402
329    33624
330    29902
331    92618
332    37138
333    46773
334    60103
335    47933
336    48342
337    83642
338    70001
339    55124
340    93550
341    93632
342    06182
343    06901
344    30303
345    47957
346    13904
347    92109
348    53574
349    98361
350    75235
351    37403
352    31401
353    31022
354    07102
355    02905
356    70449
357    43311
358    06450
359    76552
360    30303
361    79905
362    23510
363    90017
364    91403
365    24153
366    57401
367    89431
368    02110
369    92101
370    02780
371    07087
372    62234
373    72762
374    99111
375    70360
376    67202
377    61880
378    38115
379    73086
380    08232
381    72392
382    48858
383    83435
384    57730
385    22958
386    95134
387    33301
388    71109
389    74133
390    78945
391    33323
392    60439
393    22070
394    75757
395    27055
396    33870
397    14546
398    30124
399    98109
400    53073
401    66044
402    39175
403    02908
404    77591
405    97321
406    30720
407    73107
408    49738
409    14211
410    73095
411    12207
412    45204
413    48221
414    45380
415    91765
416    11590
417    98052
418    58571
419    46268
420    10018
421    72210
422    50120
423    80904
424    02906
425    07087
426    33179
427    79601
428    15212
429    58203
430    58301
431    94568
432    77020
433    15215
434    92801
435    23601
436    20008
437    53182
438    44663
439    50309
440    65559
441    93660
442    11530
443    34471
444    94108
445    95113
446    39456
447    60631
448    44128
449    19121
450    11576
451    91786
452    17111
453    77077
454    40823
455    19067
456    23602
457    76102
458    89501
459    92073
460    94612
461    10014
462    90007
463    65066
464    35146
465    76645
466    55422
467    96001
468    65001
469    28412
470    32064
471    97205
472    39120
473    02127
474    30303
475    94041
476    19108
477    29501
478    95134
479    91762
480    78212
481    74116
482    78401
483    38118
484    28716
485    32548
486    76706
487    66067
488    34471
489    94549
490    10801
491    78205
492    91505
493    83702
494    48066
495    94403
496    95204
497    74116
498    03852
499    86341
500    64110
501    98109
502    68324
Name: zip_code, dtype: object

**Tim Neudorf height is 27 in instead of 72 in**

#### Define

Replace height for rows in the `patients` table that hav a height of 27 in with 72 in.

#### Code

In [39]:
patients_clean.height = patients_clean.height.replace(27 , 72)

In [40]:
patients_clean.query('surname == "Neudorf"')

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,phone_number,email
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303,United States,2/18/1928,192.3,72,26.1,334-515-7487,TimNeudorf@cuvox.de

**Full state names sometimes, abbreviations other times**

#### Define

Apply a function that converts full state name to state abbreviation for California, New York, Illinois, Florida, and Nebraska.

#### Code

In [41]:
state_abbrev = {'California' : 'CA' ,
               'New York' : 'NY' ,
               'Illinois' : 'IL' ,
               'Florida' : 'FL' ,
               'Nebraska' : 'NE'}

In [42]:
def abbreviate_state(patient):
    if patient['state'] in state_abbrev.keys():
        abbrev = state_abbrev[patient['state']]
        return abbrev
    else:
        return patient['state']

In [43]:
patients_clean['state'] = patients_clean.apply(abbreviate_state , axis = 1)

#### Test

In [44]:
patients_clean.state.value_counts()

CA    60
NY    47
TX    32
IL    24
FL    22
MA    22
PA    18
GA    15
OH    14
OK    13
LA    13
MI    13
NJ    12
VA    11
MS    10
WI    10
MN     9
AL     9
TN     9
IN     9
WA     8
NC     8
KY     8
MO     7
NV     6
NE     6
KS     6
ID     6
CT     5
IA     5
SC     5
RI     4
ME     4
AZ     4
AR     4
CO     4
ND     4
WV     3
OR     3
DE     3
MD     3
SD     3
MT     2
DC     2
VT     2
WY     1
AK     1
NH     1
NM     1
Name: state, dtype: int64

#### Dsvid Gustafson

#### Define

Replace given name for rows in the `patients` table that have a given name of 'Dsvid' with 'David'

#### Code

In [45]:
patients_clean.given_name = patients_clean.given_name.replace('Dsvid' , 'David')

#### Test

In [46]:
patients_clean.query('surname == "Gustafsson"')

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,phone_number,email
8,9,male,David,Gustafsson,1790 Nutter Street,Kansas City,MO,64105,United States,3/6/1937,163.9,66,26.5,816-265-9578,DavidGustafsson@armyspy.com

**Erroneous datatypes (asskgned sex, state, zip_code, and birthdate colomns) and Erroneous datatypes (aoralin and novodra columns) and The letter 'u' in starting and ending dose for Auralin and Novodra**

#### Define

Convert assigned sex and state to categorical data types. Zip code data type was already addressed avobe. Convert birthdate to determine data type. Strip the letter 'u' in start dose and convert those columns to data type integer.

#### Code

In [47]:
#To category
patients_clean.assigned_sex = patients_clean.assigned_sex.astype('category')
patients_clean.state = patients_clean.state.astype('category')

# To determine
patients_clean.birthdate = pd.to_datetime(patients_clean.birthdate)

# Strip u and to integer
treatments_clean.dose_start = treatments_clean.dose_start.str.strip('u').astype(int)
treatments_clean.dose_end = treatments_clean.dose_end.str.strip('u').astype(int)

#### Test

In [49]:
patients_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    category
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    category
 7   zip_code      491 non-null    object
 8   country       491 non-null    object
 9   birthdate     503 non-null    datetime64[ns]
 10  weight        503 non-null    float64
 11  height        503 non-null    int64
 12  bmi           503 non-null    float64
 13  phone_number  491 non-null    object
 14  email         491 non-null    object
dtypes: category(2), datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 53.9+ KB

In [51]:
treatments_clean.head(1)

,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end,adverse_reaction,patient_id
0,7.63,7.2,0.43,auralin,41,48,NaN,225

#### Multiple phone number formats

#### Define

Strip all " ", "-", (", "), and "+" and store each number without any formatting. Pad the phone nunber with 1 if the length of the number is 10 digits (for country code).

In [53]:
patients_clean.phone_number = patients_clean.phone_number.str.replace(r'\D+' , '').str.pad(11 , fillchar = '1')

#### Test

In [54]:
patients_clean.phone_number.head()

0    19517199170
1    12175693204
2    14023636804
3    17326368246
4    13345157487
Name: phone_number, dtype: object

#### Default John Doe data

#### Define

Remove the non-recoverable John Doe records from the `patients` table.

#### Code

In [55]:
patients_clean = patients_clean[patients_clean.surname != 'Doe']

#### Test

In [56]:
patients_clean.surname.value_counts()

Jakobsen             3
Taylor               3
Liễu                 2
Lund                 2
Nilsen               2
Parker               2
Bùi                  2
Hueber               2
Collins              2
Souza                2
Schiavone            2
Dratchev             2
Lương                2
Tạ                   2
Batukayev            2
Gersten              2
Cindrić              2
Lâm                  2
Johnson              2
Grímsdóttir          2
Correia              2
Tucker               2
Kadyrov              2
Ogochukwu            2
Woźniak              2
Kowalczyk            2
Aranda               2
Silva                2
Berg                 2
Cabrera              2
Sokołowska           1
Adams                1
Ch'eng               1
Werner               1
Wilkinson            1
Mansour              1
Yudina               1
Borgen               1
Csorba               1
Uspenskaya           1
Kifle                1
Abdulov              1
Leppäluoto           1
Mensa                1
Kašná                1
Haugen               1
Onyekaozulu          1
Novosel              1
Tikhonov             1
Dimmen               1
Day                  1
Onwughara            1
Casárez              1
Grunewald            1
Mathiesen            1
Eskelinen            1
Henzen               1
Guðbrandsson         1
Iwata                1
Gibson               1
Tromp                1
Russo                1
Knudsen              1
Bidwill              1
Chinedum             1
Sandgreen            1
Radislav             1
Scheltens            1
Wong                 1
Ehrlichmann          1
Chidi                1
Karjalainen          1
Allaire              1
Nordin               1
Pospíšil             1
Yonatan              1
Magyar               1
Bowden               1
Mata                 1
Šubrtová             1
Herman               1
Vestergaard          1
Baum                 1
Tryggvadóttir        1
Eidem                1
Nucci                1
Flamand              1
Glockner             1
Lombardi             1
Eldarkhanov          1
Chung                1
Rahal                1
Compagnon            1
Miramontes           1
Freud                1
Majewski             1
Edwards              1
Boyles               1
Ouwendijk            1
Cain                 1
Labrosse             1
Selassie             1
Schneider            1
Hori                 1
Seppälä              1
Laine                1
Gustafsson           1
Wubbels              1
Mancini              1
McIntosh             1
Lorenzo              1
Morita               1
Cotton               1
Abraham              1
Scholz               1
Koivunen             1
Villalpando          1
Endrizzi             1
Ghanem               1
Moquin               1
Hyypiä               1
Vaneker              1
Geisler              1
Rice                 1
Hsueh                1
Csonka               1
Vieira               1
Yuan                 1
Koldenhof            1
Nebeolisa            1
Phan                 1
Nyborg               1
Salib                1
Shuler               1
Zhdanov              1
Lei                  1
Filatov              1
Knutsen              1
Hsu                  1
Írisarson            1
Ruais                1
Ekechukwu            1
Horvat               1
Kung                 1
Bonami               1
Laatikainen          1
Lindgren             1
Zaitseva             1
Phạm                 1
Hunter               1
Obinna               1
Shishani             1
Fisher               1
Lončar               1
Afamefuna            1
Authier              1
Klobučar             1
Schmitt              1
Navrátil             1
Haraguchi            1
Efrem                1
Teng                 1
Blix                 1
Combs                1
Montez               1
Quintanilla          1
Naifeh               1
Polak                1
Mai                  1
Yao                  1
Guzman               1
Kristensen           1
Arsanukayev          1
Azevedo              1
Reynoso              1
Koffeman             1
Rushisvili           1
﻿Dvořák              1
Smith                1
Martinsen            1
Baumgaertner         1
Hrafnsdóttir         1
Gyenes               1
Mayberry             1
Miller               1
Sleiman              1
Halldórsdóttir       1
Tsukada              1
McGregor             1
Afanasyeva           1
Kozłowska            1
Khoury               1
Addison              1
Nash                 1
Lukić                1
Vesecká              1
Kelly                1
Priest               1
Tomaszewski          1
Ekwueme              1
Rukavina             1
Araujo               1
Bole                 1
Thạch                1
Mortensen            1
Holm                 1
Fodor                1
Bisliev              1
Györfy               1
Fournier             1
Tuma                 1
Lange                1
Allen                1
Galić                1
Mattila              1
Harold               1
Miranda              1
Zsinkó               1
Reilly               1
Poulsen              1
Gormanston           1
Alanis               1
Maríasson            1
Jephcott             1
Osman                1
Quynh                1
Gaber                1
McKay                1
Enoksen              1
Ménard               1
Adamski              1
Mehari               1
Baer                 1
Fomin                1
Montagu              1
Vaara                1
Galvez               1
Amari                1
Kishiev              1
Vukelić              1
Christie             1
de Keizer            1
Mustafa              1
Oates                1
Bjarkason            1
Rokavc               1
Amanuel              1
Gunnarsson           1
Guerra               1
Rap                  1
Takenaka             1
Ferreira             1
Sauvé                1
Bubanj               1
Bogolyubova          1
Musliyevich          1
Piirainen            1
Mueller              1
Karlsen              1
Olofsson             1
Leroux               1
Bois                 1
Lynge                1
Pinto                1
Nielsen              1
Østergaard           1
Sjöberg              1
Su                   1
Cabán                1
O'Brian              1
Wagner               1
Clapp                1
Lê                   1
Czerwinska           1
Andreyeva            1
Woodward             1
Brhane               1
Crawford             1
Walczak              1
Napolitani           1
Jørgensen            1
Wolfe                1
Tar                  1
Gegič                1
Richardson           1
Þráinsson            1
Kalb                 1
Carvalho             1
Citizen              1
Chandler             1
Mironov              1
van der Lubbe        1
Chang                1
Debord               1
Zetticci             1
Žibrik               1
Allan                1
House                1
Ščančar              1
Pecha                1
Kristiansen          1
Nørgaard             1
Guðjónsdóttir        1
Christensen          1
MacDonald            1
Petrussen            1
Balagić              1
Luwam                1
Asfour               1
Lindström            1
Chin                 1
Koivuniemi           1
Macleod              1
Komavec              1
Lillebø              1
Sultygov             1
Sung                 1
Maslov               1
Okoli                1
Wiśniewska           1
Sheppard             1
Ferguson             1
Wolf                 1
Nakahara             1
Grubišić             1
Vũ                   1
Nowakowski           1
Hrdá                 1
Bilodeau             1
Solberg              1
Lucchese             1
Zimmerman            1
Udinesi              1
Sørensen             1
van de Wiel          1
Moore                1
Tansey               1
Jakšić               1
Bakos                1
Webb                 1
Onio                 1
Luoma                1
Pecinová             1
Synek                1
Mikkelsen            1
Stanić               1
Aličajić             1
Herczegh             1
Bouw                 1
Terrazas             1
Heilmann             1
Ribeiro              1
Isaksson             1
Achebe               1
Nakayama             1
Ek                   1
Fejes                1
Brodahl              1
Beauvais             1
Heimisson            1
Kos                  1
Sági                 1
Grant                1
Wysocki              1
Kinfe                1
Madrid               1
Fiorentino           1
Adonay               1
Ingason              1
Bazarova             1
Rocha                1
Lansell              1
Dreher               1
Carreiro             1
Antoun               1
Martinsson           1
Murakami             1
Villadsen            1
Pak                  1
Grabljevec           1
Johnsrud             1
Pérez                1
Uspensky             1
Ko                   1
Azuma                1
Wieczorek            1
She                  1
Hermansen            1
Costa                1
Archer               1
Hughes               1
Ferrari              1
Markus               1
Hill                 1
Skarphéðinsdóttir    1
Milne                1
Miles                1
Hopkins              1
Higa                 1
Nnonso               1
Teichelmann          1
Luman                1
Lavrentyev           1
Német                1
Totth                1
Jindrová             1
Hansen               1
Sykes                1
Sakai                1
Mathieu              1
Tománková            1
Enríquez             1
Wellish              1
Jackson              1
Gomes                1
Roy                  1
Peters               1
Saenger              1
Jurković             1
Woldendorp           1
Filípek              1
Nicholls             1
Neudorf              1
Marchesi             1
Cumpston             1
Traustadóttir        1
Touma                1
Cunha                1
Svensson             1
Mehler               1
Jensen               1
Ono                  1
Holden               1
Henriksen            1
Ibragimov            1
Konovšek             1
Prince               1
Fakhoury             1
Horikawa             1
Michalčíková         1
Izmailov             1
Ziegler              1
Tabata               1
Resanovič            1
Hervinsson           1
Dandonneau           1
Glaser               1
Lundy                1
Isa                  1
Fesahaye             1
Nebay                1
Andersen             1
Barlow               1
Rosario              1
Štěpánek             1
Petersen             1
Löfgren              1
Tobeolisa            1
Wiśniewski           1
Šlezinger            1
Mobourne             1
Frederiksen          1
Fujiwara             1
Barsukov             1
Ibeamaka             1
Name: surname, dtype: int64

#### Multiple records for Jackobsen, Gersten, Taylor

#### Define

Remove the Jake Jakobsen, Pat Gersten, and Sandy Taylor rows from the `patients` table. These are the nicknames, which happen to also not be in the `treatments` table (removing the wrong name would create a consistency issue between the `patients` and `treatments` table). These are all the second occurrence of the duplicate. These are also only occurences of non-null duplicate addresses.

#### Code

In [59]:
# tilde means not: http://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing
patients_clean = patients_clean[~((patients_clean.address.duplicated())
                                  & patients_clean.address.notnull())]

#### Test

In [65]:
patients_clean[patients_clean.surname == 'Jakobsen']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,phone_number,email
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,NY,12771,United States,1985-08-01,155.8,67,24.4,18458587707,JakobCJakobsen@einrot.com
432,433,female,Karen,Jakobsen,1690 Fannie Street,Houston,TX,77020,United States,1962-11-25,185.2,67,29.0,19792030438,KarenJakobsen@jourrapide.com

In [64]:
patients_clean[patients_clean.surname == 'Gersten']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,phone_number,email
97,98,male,Patrick,Gersten,2778 North Avenue,Burr,NE,68324,United States,1954-05-03,138.2,71,19.3,14028484923,PatrickGersten@rhyta.com

In [66]:
patients_clean[patients_clean.surname == 'Taylor']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,phone_number,email
131,132,female,Sandra,Taylor,2476 Fulton Street,Rainelle,WV,25962,United States,1960-10-23,206.1,64,35.4,13044382648,SandraCTaylor@dayrep.com
426,427,male,Rogelio,Taylor,4064 Marigold Lane,Miami,FL,33179,United States,1992-09-02,186.6,69,27.6,13054346299,RogelioJTaylor@teleworm.us

#### kgs instead of lbs for Zaitseva weight

#### Define

Use **advanced indexing** to isolate the row where the surname is Zaitseva and convert the entey in its weight field from kg to lbs.

#### Code

In [67]:
weight_kg = patients_clean.weight.min()
mask = patients_clean.surname == 'Zaitseva'
column_name = 'weight'
patients_clean.loc[mask , column_name] = weight_kg * 2.20462

#### Test

In [68]:
patients_clean.weight.sort_values()

459    102.100000
335    102.700000
74     103.200000
317    106.000000
171    106.500000
51     107.100000
210    107.585456
270    108.100000
198    108.500000
48     109.100000
478    109.600000
141    110.200000
38     111.800000
438    112.000000
14     112.000000
235    112.200000
307    112.400000
191    112.600000
408    113.100000
49     113.300000
326    114.000000
338    114.100000
253    117.000000
321    118.400000
168    118.800000
1      118.800000
350    119.000000
207    119.200000
265    120.000000
341    120.300000
208    121.200000
0      121.700000
467    122.100000
218    122.200000
225    122.300000
404    123.000000
397    123.400000
424    123.600000
483    123.900000
306    124.100000
278    124.300000
120    124.500000
363    124.700000
185    125.100000
423    125.200000
419    126.100000
494    126.300000
232    126.900000
214    126.900000
342    127.200000
280    128.500000
256    128.900000
184    128.900000
17     129.100000
422    129.400000
206    129.800000
44     129.800000
377    130.000000
354    130.200000
181    130.200000
22     130.700000
309    130.700000
213    131.100000
143    131.100000
62     131.100000
268    132.000000
362    132.200000
359    132.200000
454    132.700000
187    133.100000
31     133.300000
56     133.800000
57     134.000000
458    134.200000
345    134.200000
163    134.200000
430    135.700000
379    136.000000
353    136.800000
389    136.800000
126    137.100000
440    137.300000
154    137.700000
437    137.700000
258    137.900000
100    137.900000
84     138.200000
97     138.200000
202    138.400000
381    138.400000
416    138.600000
378    138.800000
73     139.300000
241    139.700000
448    139.900000
169    140.600000
343    140.600000
54     141.000000
304    141.500000
463    142.100000
452    142.100000
271    142.300000
158    142.800000
41     143.000000
186    143.000000
179    143.000000
292    143.000000
209    143.400000
116    143.700000
323    143.900000
94     144.100000
26     144.800000
176    145.200000
388    145.200000
89     145.400000
267    145.600000
110    146.100000
6      146.300000
249    146.500000
32     147.600000
174    147.800000
40     147.800000
356    148.300000
414    148.700000
372    149.200000
159    149.400000
287    149.600000
382    149.600000
303    149.800000
68     149.800000
491    149.800000
59     150.000000
417    150.000000
320    150.300000
456    150.500000
53     150.500000
69     150.600000
331    150.900000
142    150.900000
211    151.200000
115    151.400000
328    151.800000
429    152.100000
290    152.300000
449    152.500000
387    152.700000
135    152.900000
34     152.900000
20     153.100000
476    153.300000
33     153.800000
330    153.800000
436    154.400000
433    154.400000
481    154.700000
301    154.700000
67     154.900000
462    154.900000
319    154.900000
411    154.900000
134    154.900000
173    155.100000
497    155.100000
286    155.300000
233    155.300000
472    155.300000
24     155.800000
371    156.000000
36     156.400000
407    156.600000
139    156.900000
30     156.900000
188    157.100000
297    157.300000
45     157.700000
7      158.000000
400    158.200000
275    158.600000
264    158.600000
60     159.100000
470    159.500000
294    159.700000
132    159.900000
447    160.400000
92     160.600000
465    160.800000
358    160.800000
285    160.800000
412    161.300000
464    161.300000
349    161.500000
409    161.700000
316    162.100000
380    162.400000
393    162.400000
77     162.600000
318    162.800000
175    163.200000
413    163.500000
460    163.500000
194    163.700000
64     163.700000
46     163.900000
8      163.900000
336    164.800000
488    165.000000
102    165.000000
368    165.000000
421    165.000000
324    165.200000
230    165.900000
360    165.900000
109    166.100000
466    166.100000
346    166.300000
259    166.500000
107    167.000000
446    167.200000
103    167.600000
495    168.100000
93     168.100000
212    168.100000
199    168.300000
383    168.700000
272    168.700000
361    169.000000
442    169.000000
289    170.100000
216    170.100000
149    170.500000
127    170.700000
145    170.900000
500    171.200000
138    171.200000
86     171.400000
82     171.400000
224    171.400000
311    171.400000
196    171.600000
263    171.800000
112    172.000000
325    172.500000
201    172.500000
329    172.700000
156    172.900000
435    173.800000
333    174.200000
427    174.700000
269    175.200000
473    175.300000
137    175.600000
406    175.600000
27     175.800000
484    175.800000
114    176.200000
180    176.200000
340    176.900000
501    176.900000
87     176.900000
189    177.100000
172    177.800000
2      177.800000
153    177.800000
410    178.000000
308    178.900000
293    179.100000
136    179.300000
295    180.000000
384    180.200000
401    180.600000
205    180.600000
25     180.800000
445    180.800000
296    181.100000
498    181.100000
344    181.100000
390    181.300000
195    181.300000
453    181.300000
248    181.300000
221    181.300000
474    181.500000
300    181.500000
298    182.200000
394    182.200000
117    182.200000
355    182.600000
347    183.300000
405    183.500000
480    183.500000
366    183.500000
220    183.500000
80     183.700000
5      183.900000
16     183.900000
79     183.900000
492    184.600000
157    184.600000
71     184.800000
432    185.200000
146    185.900000
200    186.100000
284    186.300000
426    186.600000
47     186.600000
228    186.600000
396    186.600000
375    186.800000
266    187.000000
255    187.100000
489    187.200000
238    187.200000
227    187.900000
357    187.900000
425    188.500000
313    188.500000
192    188.800000
305    189.000000
226    189.400000
37     189.900000
76     190.100000
369    190.500000
312    190.700000
443    191.000000
367    191.000000
108    191.400000
147    191.400000
39     191.600000
4      192.300000
90     192.300000
299    192.500000
471    192.700000
203    192.700000
490    192.700000
261    192.700000
123    193.200000
155    193.200000
63     193.200000
78     193.400000
164    193.600000
310    193.600000
398    193.800000
434    193.800000
262    194.000000
496    194.000000
98     194.300000
66     194.300000
288    194.500000
468    194.700000
9      194.700000
160    195.100000
75     195.100000
493    195.100000
450    195.400000
70     195.600000
334    195.800000
58     196.000000
178    197.100000
348    197.100000
351    197.600000
240    198.000000
391    198.000000
148    198.400000
165    198.700000
43     198.900000
35     198.900000
42     199.100000
10     199.300000
234    199.500000
133    199.500000
236    199.800000
365    200.000000
254    200.400000
104    200.600000
376    200.800000
279    200.800000
420    200.900000
15     201.500000
402    201.500000
302    201.500000
162    201.700000
52     202.000000
128    202.200000
451    202.200000
18     202.200000
223    202.400000
274    202.600000
455    203.100000
129    203.300000
125    203.500000
85     203.500000
177    203.700000
291    203.900000
193    203.900000
113    204.200000
95     205.300000
242    205.300000
131    206.100000
392    206.100000
245    206.100000
250    206.100000
260    206.400000
28     206.600000
415    206.800000
386    207.700000
183    207.700000
19     208.800000
337    209.400000
81     209.400000
461    209.700000
167    209.700000
374    210.800000
122    211.000000
247    211.000000
486    211.400000
96     211.400000
444    211.600000
65     211.900000
119    211.900000
243    211.900000
315    211.900000
477    212.100000
399    212.100000
314    212.100000
152    212.200000
364    212.300000
99     212.500000
190    213.000000
281    214.100000
140    214.100000
370    214.100000
475    214.400000
72     214.500000
239    214.500000
83     214.700000
327    214.700000
273    214.900000
418    215.200000
170    215.400000
124    215.600000
457    215.800000
217    216.500000
373    216.900000
55     217.600000
130    217.800000
231    217.800000
322    218.500000
91     218.700000
403    219.100000
151    219.600000
431    219.900000
106    219.900000
482    220.000000
479    220.000000
469    220.400000
3      220.900000
385    221.800000
105    222.000000
204    222.600000
23     222.900000
276    223.100000
197    223.100000
161    223.500000
21     223.700000
332    224.000000
12     224.200000
252    224.200000
222    224.800000
166    225.300000
111    225.900000
101    226.200000
150    226.600000
88     227.700000
352    227.700000
428    227.700000
13     228.400000
339    229.000000
182    230.300000
121    230.800000
257    231.700000
395    231.900000
246    232.100000
219    237.800000
11     238.700000
50     238.900000
441    239.100000
499    239.600000
439    242.000000
487    242.400000
144    244.900000
61     244.900000
283    245.500000
118    254.500000
485    255.900000
Name: weight, dtype: float64